<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.BizChatMessageMapper">

	<resultMap type="BizChatMessage" id="BizChatMessageResult">
		<id     property="messageId"       column="message_id"       />
		<result property="senderId"        column="sender_id"        />
		<result property="senderName"      column="sender_name"      />
		<result property="receiverId"      column="receiver_id"      />
		<result property="receiverName"    column="receiver_name"    />
		<result property="houseId"         column="house_id"         />
		<result property="content"         column="content"          />
		<result property="isFiltered"      column="is_filtered"      />
		<result property="filterReason"    column="filter_reason"    />
		<result property="readStatus"      column="read_status"      />
		<result property="readTime"        column="read_time"        />
		<result property="createBy"        column="create_by"        />
		<result property="createTime"      column="create_time"      />
		<result property="updateBy"        column="update_by"        />
		<result property="updateTime"      column="update_time"      />
		<result property="remark"          column="remark"           />
	</resultMap>

	<sql id="selectBizChatMessageVo">
		select message_id, sender_id, sender_name, receiver_id, receiver_name, house_id, content,
		       is_filtered, filter_reason, read_status, read_time, create_by, create_time, update_by, update_time, remark
		from biz_chat_message
	</sql>

	<select id="selectBizChatMessageList" parameterType="BizChatMessage" resultMap="BizChatMessageResult">
		<include refid="selectBizChatMessageVo"/>
		<where>
			<if test="senderId != null">
				AND sender_id = #{senderId}
			</if>
			<if test="receiverId != null">
				AND receiver_id = #{receiverId}
			</if>
			<if test="houseId != null">
				AND house_id = #{houseId}
			</if>
			<if test="readStatus != null and readStatus != ''">
				AND read_status = #{readStatus}
			</if>
			<if test="isFiltered != null and isFiltered != ''">
				AND is_filtered = #{isFiltered}
			</if>
		</where>
		order by create_time desc
	</select>

	<select id="selectBizChatMessageByMessageId" parameterType="Long" resultMap="BizChatMessageResult">
		<include refid="selectBizChatMessageVo"/>
		where message_id = #{messageId}
	</select>

	<select id="selectChatHistory" resultMap="BizChatMessageResult">
		<include refid="selectBizChatMessageVo"/>
		where (sender_id = #{userId1} and receiver_id = #{userId2})
		   or (sender_id = #{userId2} and receiver_id = #{userId1})
		order by create_time asc
	</select>

	<insert id="insertBizChatMessage" parameterType="BizChatMessage" useGeneratedKeys="true" keyProperty="messageId">
		insert into biz_chat_message(
			<if test="senderId != null">sender_id,</if>
			<if test="senderName != null and senderName != ''">sender_name,</if>
			<if test="receiverId != null">receiver_id,</if>
			<if test="receiverName != null and receiverName != ''">receiver_name,</if>
			<if test="houseId != null">house_id,</if>
			<if test="content != null and content != ''">content,</if>
			<if test="isFiltered != null and isFiltered != ''">is_filtered,</if>
			<if test="filterReason != null and filterReason != ''">filter_reason,</if>
			<if test="readStatus != null and readStatus != ''">read_status,</if>
			<if test="readTime != null">read_time,</if>
			<if test="createBy != null and createBy != ''">create_by,</if>
			<if test="remark != null and remark != ''">remark,</if>
			create_time
		)values(
			<if test="senderId != null">#{senderId},</if>
			<if test="senderName != null and senderName != ''">#{senderName},</if>
			<if test="receiverId != null">#{receiverId},</if>
			<if test="receiverName != null and receiverName != ''">#{receiverName},</if>
			<if test="houseId != null">#{houseId},</if>
			<if test="content != null and content != ''">#{content},</if>
			<if test="isFiltered != null and isFiltered != ''">#{isFiltered},</if>
			<if test="filterReason != null and filterReason != ''">#{filterReason},</if>
			<if test="readStatus != null and readStatus != ''">#{readStatus},</if>
			<if test="readTime != null">#{readTime},</if>
			<if test="createBy != null and createBy != ''">#{createBy},</if>
			<if test="remark != null and remark != ''">#{remark},</if>
			sysdate()
		)
	</insert>

	<update id="updateBizChatMessage" parameterType="BizChatMessage">
 		update biz_chat_message
 		<set>
 			<if test="senderId != null">sender_id = #{senderId},</if>
 			<if test="senderName != null">sender_name = #{senderName},</if>
 			<if test="receiverId != null">receiver_id = #{receiverId},</if>
 			<if test="receiverName != null">receiver_name = #{receiverName},</if>
 			<if test="houseId != null">house_id = #{houseId},</if>
 			<if test="content != null">content = #{content},</if>
 			<if test="isFiltered != null and isFiltered != ''">is_filtered = #{isFiltered},</if>
 			<if test="filterReason != null">filter_reason = #{filterReason},</if>
 			<if test="readStatus != null and readStatus != ''">read_status = #{readStatus},</if>
 			<if test="readTime != null">read_time = #{readTime},</if>
 			<if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
 			<if test="remark != null">remark = #{remark},</if>
 			update_time = sysdate()
 		</set>
 		where message_id = #{messageId}
	</update>

	<delete id="deleteBizChatMessageByMessageId" parameterType="Long">
		delete from biz_chat_message where message_id = #{messageId}
	</delete>

	<delete id="deleteBizChatMessageByMessageIds" parameterType="Long">
 		delete from biz_chat_message where message_id in
 		<foreach collection="array" item="messageId" open="(" separator="," close=")">
 			#{messageId}
        </foreach>
 	</delete>

</mapper>
